/* Font Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --background-content: #ffffff;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --color-primary: #ff6347;
  --border: 2px solid #d3d3d3;
  --hover: #dfdfdf;
}

body {
  font-family: "Karla", sans-serif !important;
  width: 100%;
  background: #f4f4f4;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  background: var(--background-content);
  width: 70%;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 1rem;
}

.row img {
  width: 100%;
  height: 100%;
}

form .form-title {
  color: var(--color-primary);
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

form .form-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

form .input-container {
  padding: 1rem;
  display: flex;
  gap: 12px;
}

.input {
  width: 100%;
}

#username,
#password {
  border: none;
  outline: none;
  width: 100%;
}

#username:focus,
#password:focus {
  border-bottom: 1px solid var(--color-primary);
}

form .input-container button {
  width: 100%;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

form .input-container button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#message {
  padding: 0;
  margin: 0;
  display: block;
}

@media (max-width: 768px) {
  .row {
    width: 100%;
    padding: 2rem 0.5rem;
  }

  .row img {
    display: none;
  }
}
