/* Font Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --background-content: #ffffff;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --background-sidebar: #ff6347;
  --background: rgba(0, 0, 0, 0.5);
  --border: 2px solid #d3d3d3;
  --hover: #dfdfdf;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  backdrop-filter: blur(5px);
}

.modal-card {
  width: 50%;
  position: absolute;
  box-shadow: var(--box-shadow);
  background: var(--background-content);
  border-radius: 8px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 0.3s linear;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

#dynamic-date-input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid var(--background-sidebar);
  border-radius: 4px;
  margin-bottom: 1rem;
}

#batal {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes show {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-card {
    width: 90%;
  }
}
