/* Font Google Sans Flex */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

:root {
  --background-content: #ffffff;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --background-sidebar: #ff6347;
  --background-active: rgba(255, 255, 255, 0.2);
  --border: 2px solid #d3d3d3;
  --hover: #dfdfdf;
}

/* Body start */
body {
  font-family: "Google Sans Flex", sans-serif !important;
  width: 100%;
}

.main-content {
  width: 100%;
  background: var(--background-content);
}

.container {
  padding: 2rem 1rem !important;
}
/* Body end */

/* Sidebar start*/
#sidebar {
  min-width: 250px;
  background-color: var(--background-sidebar);
  height: 100vh;
  padding: 1.2rem;
  position: sticky;
  top: 0;
}

#sidebar .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2rem;
}

#sidebar .logo img {
  width: 50px;
}

#sidebar .logo .title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

#sidebar .sidebar-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sidebar .sidebar-link .link-item {
  padding: 0.5rem;
  transition: all 0.3s linear;
  font-weight: 500;
}

#sidebar .sidebar-link .link-item.active {
  background-color: var(--background-active);
  border-radius: 4px;
}

#sidebar .sidebar-link .link-item:hover {
  background-color: var(--background-active);
}
/* Sidebar end */

/* Topbar start */
.topbar-container {
  width: 100%;
  padding: 0.5rem 0.8rem;
  background: var(--background-content);
  border-bottom: var(--border);
  font-size: 24px;
  font-weight: 500;
}

.topbar-container button {
  background: none;
  border: none;
}

.topbar-container .username {
  font-size: 1rem;
}

.topbar-container .dropdown {
  position: absolute;
  font-size: 14px;
  top: 120%;
  right: -12px;
  background: var(--background-content);
  padding: 0.5rem 0.8rem;
  border: var(--border);
  animation: dropdown 0.3s linear;
  overflow: hidden;
  z-index: 9999;
}

.topbar-container .dropdown.hidden {
  display: none;
}

.topbar-container .hamburger {
  display: none;
}
/* Topbar end */

/* Table start */
#table-join,
#table-out,
#table-karyawan {
  width: 100%;
  background: var(--background-content);
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

#table-join th,
#table-out th,
#table-karyawan th {
  text-transform: uppercase;
}

#table-join thead tr,
#table-out thead tr,
#table-karyawan thead tr {
  background: var(--background-sidebar);
  color: var(--background-content);
}

#table-join tbody tr:nth-of-type(even),
#table-out tbody tr:nth-of-type(even),
#table-karyawan tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}

#table-join tbody tr:last-of-type,
#table-out tbody tr:last-of-type,
#table-karyawan tbody tr:last-of-type {
  border-bottom: 2px solid var(--background-sidebar);
}

#table-join th,
#table-join td,
#table-out th,
#table-out td,
#table-karyawan th,
#table-karyawan td {
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
}

#table-join th:nth-child(2),
#table-join td:nth-child(2),
#table-out th:nth-child(2),
#table-out td:nth-child(2) {
  text-align: center;
}

#table-join td:nth-child(2) span,
#table-out td:nth-child(2) span {
  width: 100%;
}

#table-join td img,
#table-out td img,
#table-karyawan td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

#table-karyawan th:nth-child(6),
#table-karyawan td:nth-child(6) {
  text-align: center;
}

#table-join tbody tr:hover,
#table-out tbody tr:hover,
#table-karyawan tbody tr:hover {
  background: var(--hover);
}
/* Table end */

/* Search start */
.container-search-karyawan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.search-form {
  border-bottom: var(--border);
  margin-bottom: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 50%;
}

form.search-form-home {
  width: 100%;
  border-bottom: var(--border);
  margin-bottom: 0.5rem;
  box-shadow: var(--box-shadow);
}

input.search {
  border: none;
  background: none;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

form.search-form button,
form.search-form-home button {
  border: none;
  background: none;
}
/* Search end */

/* Pagination start */
.pagination {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

.pagination a {
  color: var(--background-content);
  background: var(--background-sidebar);
  padding: 0 0.5rem;
  border-radius: 4px;
}
/* Pagination end */

/* Detail start */
.detail-container {
  display: grid;
  grid-template-areas: "profile detail detail";
  gap: 1rem;
  grid-template-rows: 1fr;
}

.profile-grid {
  grid-area: profile;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  place-items: center;
}

.profile-grid .profile img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.detail-grid {
  grid-area: detail;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.info-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.info-box .label {
  font-size: 0.85rem;
  color: #6c757d;
  margin-bottom: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.info-box .value {
  font-size: 1rem;
  font-weight: 600;
  color: #2d3436;
}

.info-box.wide {
  grid-column: 1 / -1;
}

.form-grid {
  grid-area: form;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}
/* Detail end */

/* Animations start */
@keyframes dropdown {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
/* Animations end */

/* Responsive */
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  #sidebar.active {
    display: block;
    position: fixed;
    max-width: 150px;
    top: 55px;
    animation: left-in 0.3s linear;
  }

  .topbar-container .hamburger {
    display: flex;
  }

  #table-join,
  #table-out,
  #table-karyawan {
    width: 100%;
    background: var(--background-content);
    box-shadow: var(--box-shadow);
    font-size: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  #table-join th,
  #table-join td,
  #table-out th,
  #table-out td,
  #table-karyawan th,
  #table-karyawan td {
    padding: 0.5rem;
    vertical-align: middle;
  }

  #table-karyawan .tanggal-bergabung,
  #table-karyawan .jenis-kelamin {
    display: none;
  }

  #table-karyawan .icon-detail {
    display: none;
  }

  #table-karyawan td img {
    display: none;
  }

  .container-search-karyawan {
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  form.search-form {
    width: 100%;
  }

  input.search {
    padding: 0.5rem;
    width: 100%;
    font-size: 0.7rem;
  }

  .detail-container {
    display: grid;
    grid-template-areas:
      "profile"
      "detail";
    gap: 1rem;
    grid-template-rows: 1fr;
  }

  .profile-grid {
    grid-area: profile;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    place-items: center;
  }

  .profile-grid .profile img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  .detail-grid {
    grid-area: detail;
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
  }

  .info-box {
    display: flex;
    flex-direction: column;
  }

  .info-box .label {
    font-size: 0.85rem;
    color: #6c757d;
    margin-bottom: 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .info-box .value {
    font-size: 1rem;
    font-weight: 600;
    color: #2d3436;
  }

  .info-box.wide {
    grid-column: 1 / -1;
  }

  .form-grid {
    grid-area: form;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
  }
  /* Detail end */
  @keyframes left-in {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}
